name: test-workflow

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: branch check
        run: |
          echo "${{ case(github.ref_name, 'main', 'これは本番用です', 'develop', 'これは開発用です', 'その他のブランチです') }}"
